# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: DOTS client API
  version: "1.0.0"
# the domain of the service
host: ddots.org.ua:81
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /problems:
    get:
      summary: Получение всех задач
      parameters:
        - name: search
          in: query
          description: Поиск по названию
          type: string
        - name: limit
          in: query
          description: Кол-во записей
          type: number
          format: integer
        - name: offset
          in: query
          description: Кол-во записей, которые нужно пропустить
          type: number
          format: integer
      tags:
        - Problems
      responses:
        200:
          description: An array of problems
          schema:
            type: array
            items:
              $ref: '#/definitions/Problem'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Problem:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      description:
        type: string
      difficulty:
        type: integer
      image_url:
        type: integer
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
